body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.magazineluiza.com.br%2Fpapel-de-parede-para-barbearia-colorido-barber-shop-vinil-seller-mix%2Fp%2Fbee3fc7194%2Fde%2Fppel%2F&psig=AOvVaw2l-rIwrNDwJFwihbFoP4_n&ust=1681315029975000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCPD1rNuYov4CFQAAAAAdAAAAABAD);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    background-color: #000;
    color: black;
    text-align: center;
    top: 0;
}
#principal {
	width: 900px; /*Definição de largura padrão*/
}

#menu {/*Formatação do menu*/
	background: #B0E0E6;
	/*border: 1px solid red; Borda sólida na div*/
	padding: 18px; display: flex /*Espaçamento interna div*/
}

#conteudo {
	background: #87CEEB;
	padding: 10px;
}

}
#rodape {
	text-align: center;
	color: #FFFFFF;
}
#NOVIDADES {
	background: #87CEEB;
	padding: 10px;
}
#SOBRE NÒS {
	background: #87CEFA;
	padding: 10px;
}
#CONTATO {
	background: #ADD8E6;
	padding: 10px;
}
#CORTES {
	background: #B0E0E6;
	padding: 10px;
}
#MODELOS {
	background: #B0C4DE;
	padding: 10px;
}
#CABELELEIROS {
	background: #87CEFA;
	padding: 10px;
}
#VIDEOS {
	background: #87CEEB;
	padding: 10px;
}
	img-campanha {
	border: 10px solid #868A08;
}

a { /*Formatação dos links*/
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1 {
	color: #828271;
	font-size: 1.2em;
}
h3 {
	color: #828271;
	font-size: 1.2em;
	}
h4 {
	color: #828271;
	font-size: 1.2em;
}
